.banner {
    background-image: linear-gradient(-225deg, rgba(255,179,142,0.7) 0%,rgba(120,157,188,0.4) 60%), url('../../images/chess.jpeg');
    color: white;
    padding: 150px 0;
    background-size: cover;
    background-position: center;
}

.banner h1 {

	font-size: 60px;

}


.banner h2 {

	font-size: 40px;
	font-weight: lighter;
	margin-bottom: 80px;

}